:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Đừng set màu global cho a nữa, vì template đã style link */
a {
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  /* Quan trọng: Vite mặc định hay set flex => lệch layout */
  display: block;
}

/* Nên bỏ luôn style button mặc định để không đè Bootstrap */
button {
  font-family: inherit;
}
